python-dotenv==1.0.0
openai==1.14.3
dashscope==1.14.0
chromadb==0.4.22
fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.1
tenacity==8.2.3
# unstructured[all-docs]==0.12.5
rank-bm25==0.2.2
sentence-transformers==2.3.1
tiktoken==0.6.0
PyPDF2==3.0.1
python-docx==1.2.0
python-multipart==0.0.29
